# practice/learning files
projects/shinjos/private/*

# dominion
# gcov/compilation files
projects/shinjos/dominion/*.gcda
projects/shinjos/dominion/*.gcno
projects/shinjos/dominion/*.c.gcov
projects/shinjos/dominion/*.o
projects/shinjos/dominion/*.dSYM
# executables
projects/shinjos/dominion/playdom
projects/shinjos/dominion/player
projects/shinjos/dominion/testDrawCard
projects/shinjos/dominion/badTestDrawCard
projects/shinjos/dominion/cardtest1
projects/shinjos/dominion/cardtest2
projects/shinjos/dominion/cardtest3
projects/shinjos/dominion/cardtest4
projects/shinjos/dominion/cardtest5
projects/shinjos/dominion/unittest1
projects/shinjos/dominion/unittest2
projects/shinjos/dominion/unittest3
projects/shinjos/dominion/unittest4
projects/shinjos/dominion/unittest5
projects/shinjos/dominion/randomtestadventurer
projects/shinjos/dominion/randomtestcard1
projects/shinjos/dominion/randomtestcard2
# trials
projects/shinjos/dominion/tryrand
projects/shinjos/dominion/tryRandom.c
# operations
projects/shinjos/dominion/randtestall
projects/shinjos/dominion/testing_snapshots

# final project
FinalProject/**/.gitignore
FinalProject/**/.classpath
FinalProject/**/.project
FinalProject/**/.metadata
projects/shinjos/FinalProject/**/.metadata
projects/shinjos/FinalProject/**/.metadata
